ul {
    padding: 0;
    margin: 0 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px 24px;
    max-width: 1200px;
    margin: auto;
}

.gallery-item {
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: auto;
}

.contain {
    padding: 20px 80px;
}